<!--side-menu-box-->
<div class="side-menu-box">
	<div class="logo-inner-wrap">
		<a href="" class="logo">
			<img src="./img/main/logo.svg" alt="">
		</a>
	</div>
	<div class="menu-inner-wrap">
		<ul class="menu">
			<li><a href="" class="btn-menu active"><div class="button-title">Агенты</div></a></li>
			<li><a href="" class="btn-menu"><div class="button-title">Верификация</div></a></li>
			<li><a href="" class="btn-menu"><div class="button-title">Новые Заявки</div></a></li>
			<li><a href="" class="btn-menu"><div class="button-title">Мои Заявки</div></a></li>
			<li><a href="" class="btn-menu"><div class="button-title">Вывод средств</div></a></li>
		</ul>
	</div>
</div>
<!--/side-menu-box-->